<h1>Post New Product</h1>
<input type="text" name="cover" ng-model="item.cover" placeholder="cover" value="">
<input type="text" name="title" ng-model="item.title" placeholder="title" value="">
<input type="text" ng-model="item.description" name="description" placeholder="description" value="">
<input type="text" ng-model="item.price" name="description" placeholder="price" value="">
<button type="button" ng-click="addSingleProduct(item)" name="button">Add Book</button>
<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
